<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/user_info', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1 mt-3">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user_image| %>
          <tr>
            <td>
              <%= image_tag user_image.get_image, size:"80x80" %>
            </td>
            <td class="text-break">
              <%= user_image.name %>
            </td>
            <td>
              <%= link_to "show", user_path(user_image.id) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
