




<div class="col-lg-3">
  <h1>welcome to
      <i class="fas fa-book"></i>
      Bookers !!</h1>

  <p>In Bookers,<br>
     you can share and exchange your opinions , inpressions , and emotions<br>
     about various books!</p>

      <ul>
        <li class ="login">
          <%= link_to "Log in", new_user_session_path %>
        </li>
        <li class="signup">
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
      </ul>
</div>