<p class="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong> !!</h1>
      <p class="bt-3">In <i class="fas fa-book"></i><strong>Bookers</strong>,</p>
      <p class="bt-3">you can share and exchange your opinions , inpressions , and emotions</p>
      <p class="bt-3">about various books!</p>
      <div class="col-10 mx-auto">
        <div class="row">
          <a class="btn btn-info btn-sm btn-block mb-3" href="/users/sign_in" role="button">Log in</a>
        </div>
        <div class="row">
          <a class="btn btn-success btn-sm btn-block" href="/users/sign_up" role="button">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>